<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
			<link rel="shortcut icon" href="images/SilberReconstructor.png" type="image/png">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/download">Where To Download</a></li>
	        		<li><a href="/updates">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aditya.nair@stud.ki.se">email</a></li>
	        		<li><a href="http://www.neuro.ki.se/silberberg/">The Silberberg Laboratory at Karolinska</a></li>
				</ul>
			</footer>
		</body>
	</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
